<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Environment Monitoring</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {%block extrahead %}
    {% endblock extrahead %}
</head>
<body>
    <div id="hero-cont">
        <header>
            <div class="nav">
                <div class="logo">
                    <h1 style="color: white">AQ<span>-Index</span></h1>
                </div>
                <div class="links">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'aboutus' %}">About Us</a>
                    <a href="{% url 'data' %}">AQI</a>
                    <a href="#ft">Details</a>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </header>

        <main>
            {% block content %}

            {% endblock %}
        </main>

        <footer>
            <style>
                footer {
                    width: 100%;
                    text-align: center;
                    color: white;
                    padding: 20px;
                }
        
                footer h1 {
                    font-weight: 400;
                    font-size: 20px;
                }
            </style>
            <div id="ft">
                <h1>Project : IoT Smart Environment Monitoring</h1>
            </div>
        </footer>
    </div>
</body>
</html>
