{% extends 'monitoring/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock extrahead %}
{% block content %}

<main>
    <section class="about">
        <h2>About Us</h2>
        <p>This IoT project is developed by MSc Data Science students, Swastik Roy and Stuty Das from Christ University. The goal is to create an environmental monitoring system that tracks air quality, noise levels, and other environmental factors to provide real-time data for better understanding and action.</p>
    </section>

    <section class="objective">
        <h2>Project Objective</h2>
        <p>
            The primary objective of this project is to monitor and assess the air quality and noise levels in old age homes and hospitals, ensuring the well-being of vulnerable populations. By utilizing IoT sensors, we aim to collect real-time data on environmental conditions such as air purity and noise pollution. This system will help identify potential health hazards caused by poor air quality or excessive noise, allowing for timely intervention and better management of indoor environments. Additionally, our goal is to create an easy-to-use platform that provides actionable insights, ensuring that these institutions can maintain safe and comfortable environments for their residents.
        </p>
        <p>
            The project focuses on delivering a comprehensive environmental monitoring solution that not only tracks air and noise parameters but also helps implement measures to improve overall living conditions. The insights gathered will contribute to making informed decisions to enhance the quality of life in healthcare and senior living facilities.
        </p>
    </section>
</main>

{% endblock %}
