{% extends 'monitoring/base.html' %}{% load static %} {%block extrahead %}
    <link rel="stylesheet" href="{% static 'css/air.css' %}">   
{% endblock extrahead %} {% block content %} 

    <main>
        <section class="info">
            <h2>Current Air Quality</h2>
            <div class="data">
                <p>Location: {{ location }}</p>
                <p>Air Quality Index (AQI): {{ aqi }}</p>
                <p>Condition: {{ aqi_condition }}</p>
            </div>
            <h2>Current Temperature</h2>
            <div class="data">
                <p>Temperature: {{ temperature }} °C</p>
            </div>
        </section>
    </main>
{% endblock %}
