{% extends 'monitoring/base.html' %}

{% load static %}

{% block content %}
<body class="page-with-bg">
<div class="wt-bg">
    

    <div class="hero-text">
        <div class="ht">
            <h1>Air Quality <span>Index...</span></h1>
            <p>The Air Quality Index (AQI) is simply a numerical scale used to quantify the quality of the air in a particular area, measuring various pollutants such as particulate matter, ozone, carbon monoxide, sulfur dioxide, and nitrogen dioxide. It provides a standardized way to communicate the potential health effects of air pollution to the public, enabling individuals to make informed decisions to protect their health.
                the AQI typically ranges from 0 to 500, with lower values indicating cleaner air and higher values indicating more polluted air.
            </p>
            <a href="#aq">CHECK</a>
        </div>
        <!--div class="hi">
            <img src="{% static 'images\globe11-removebg-preview.png' %}" alt="Globe">
        </div-->
        <div style="display: flex; flex-direction: column;">
            <div class="row" style="display: flex; justify-content: center;">
                <div class="rectangle">
                    <a href="{% url 'air' %}">
                        <button class="rectangle-button">Air</button>
                    </a>
                </div>
            
                <div class="rectangle">
                    <a href="{% url 'noise' %}">
                        <button class="rectangle-button">Noise</button>
                    </a>
                </div>
            </div>
            <div class="main" id="aq">
                <div class="cent">
                    <div class="container">
                        <div class="aqi-card">
                            <h1 class="b">AQI for Current Location</h1>
                            <div id="aqi-container"></div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>



<script>
    const token = '6922459b0c0b0bbc33071f5957c83233671c4962';
    const apiUrl = `https://api.waqi.info/feed/@11299/?token=6922459b0c0b0bbc33071f5957c83233671c4962`;

    async function fetchAQI() {
        try {
            const response = await fetch(apiUrl);
            const data = await response.json();

            if (data.status === 'ok') {
                updateAQI(data.data);
            } else {
                console.error('Error fetching AQI data:', data);
            }
        } catch (error) {
            console.error('Error fetching AQI data:', error);
        }
    }

    function updateAQI(data) {
        const aqiContainer = document.getElementById('aqi-container');
        const aqiValue = document.createElement('div');
        const description = document.createElement('div');
        const locationName = document.createElement('div');

        aqiValue.classList.add('aqi-value');
        description.classList.add('description');
        locationName.classList.add('location');

        aqiValue.textContent = data.aqi;
        description.textContent = `Dominant Pollutant: ${data.dominentpol}`;
        locationName.textContent = `Location: ${data.city.name}`;

        aqiContainer.appendChild(aqiValue);
        aqiContainer.appendChild(description);
        aqiContainer.appendChild(locationName);
    }

    fetchAQI();
</script>
</div>
</body>
{% endblock %}
